{% extends 'base.html' %}

{% block head %}
<title>Participants | Event Manager</title>
{% endblock %}

{% block body %}
<!-- List of all Events from Database -->
<div class="e_database">
    <h1>Registrations are open for the following events:</h1><br>
    <hr>
    {% for event in events %}
    <br>
    <h2>{{ event.eventName }}</h2><br>
    <p>
        <strong>Description: </strong>{{ event.description }}<br>
        <strong>Date(s): </strong>{{ event.fromDate }} - {{ event.toDate }}<br>
        <strong>Time: </strong>{{ event.fromTime }} - {{ event.toTime }}<br>
        <strong>Registration Deadline: </strong>{{ event.deadlineDate }} {{ event.deadlineTime }}<br>
        <strong>Venue: </strong>{{ event.location }}<br>
    </p>
    <hr>
    {% endfor %}
</div>

<!-- Participants Registration Form -->
<section class="event" style="margin-top: 100px; margin-bottom: 140px">
    <div class="event-ct">
        <h2>
            PARTICIPANTS REGISTRATION FORM
        </h2><br>
        <form action="" class="form" method="POST" style="left: 100px;">
            {% csrf_token %}
            <div class="participantName">
                <label for="participantName">Name:</label>
                <input type="text" id="participantName" name="participantName" placeholder="Name" class="eventData" required>
            </div>
            <div class="cno">
                <label for="cno">Contact No:</label>
                <input type="tel" id="cno" name="cno" placeholder="Contact" class="eventData" required>
            </div>
            <div class="email">
                <label for="email">Email ID:</label>
                <input type="email" id="email" name="email" placeholder="E-mail" class="eventData" required>
            </div>
            <div class="event-dropdown">
                <label for="events">Event:</label>
                <input list="events" name="event" class="eventData" placeholder="Select Event" required>
                <datalist id="events">
                    {% for event in events %}
                    <option value= "{{ event.eventName }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="regType-dropdown">
                <label for="regTypes">Registration Type:</label>
                <input list="regTypes" name="regType" class="eventData" placeholder="Select mode" required>
                <datalist id="regTypes">
                    <option value="Individual"></option>
                    <option value="Group"></option>
                </datalist>
            </div>
            <div class="groupSize">
                <label for="groupSize">No of Tickets:</label>
                <input type="number" id="groupSize" name="groupSize" placeholder="No of Tickets" min="1"
                    class="eventData">
            </div>
            <input type="submit" id="submit" name="submit" class="eventData">
            <input type="reset" id="reset" name="reset" class="eventData">
            <a href="index">back to home</a>
        </form><br>
    </div>
    <div class="event-img">
        <img
            src="https://images.pexels.com/photos/2607554/pexels-photo-2607554.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
</section>
{% endblock %}